{{ define "main" }}
  {{ .Scratch.Set "scope" "list" }}

  <header>
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
    </div>
  </header>

  <section class="mt-0 prose max-w-full dark:prose-invert mb-10">
    <div class="min-w-0 min-h-0 max-w-full w-full">
      {{ .Content }}
    </div>
  </section>

  {{ $pages := .RegularPages.ByDate.Reverse }}
  {{ if gt (len $pages) 0 }}
    {{ $paginator := .Paginate $pages 5 }}
    <section class="space-y-10 w-full">
      {{ range $paginator.Pages }}
        <article class="article-link--simple flex flex-col md:flex-row relative">
          <div class="mt-3 md:mt-0">
            <header class="items-center text-start text-xl font-semibold">
              <a
                href="{{ .RelPermalink }}"
                class="not-prose before:absolute before:inset-0 decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2">
                <h2>{{ .Title | emojify }}</h2>
              </a>
            </header>
            <div class="text-sm text-neutral-500 dark:text-neutral-400">
              {{ partial "article-meta/basic.html" . }}
            </div>
            <div class="article-link__summary prose dark:prose-invert max-w-full mt-1 line-clamp-3">
              {{ .Params.summary | default (.Plain | truncate 220) }}
            </div>
          </div>
          <div class="px-6 pt-4 pb-2"></div>
        </article>
      {{ end }}
    </section>
    {{ partial "pagination.html" . }}
  {{ else }}
    <section class="mt-10 prose dark:prose-invert">
      <p class="py-8 border-t">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
{{ end }}
